@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Press Start 2P";
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    text-align: center;
    background-image: linear-gradient(to bottom, black, #7e57c2, #673ab7);
    min-height: 100vh;
}

main{
    display: inline-block;
    padding: 15px;
    position: relative;
    margin: auto;
}

.poke-img{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
  }

.poke-data{
    position: absolute;
    font-weight: 600;
    color: rgb(92, 92, 92);
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 17px);
}

.poke-nome{
    color: rgb(37, 37, 37);
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.busca{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid rgb(41, 40, 40);
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(32, 32, 32);
    font-size: clamp(8px, 5vw, 10px);
    box-shadow: -2px 3px #4d4c4c, -5px 7px rgb(44, 44, 44);
}

.botoes{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.botao{
    width: 50%;
    padding: 4%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 10px);
    font-weight: bolder;
    background-color: #a0a0a0;
    box-shadow: -2px 3px #222, -4px 6px black;
}

.botao:active{
    box-shadow: inset -4px 4px rgb(54, 54, 54);
    font-size: 9px;
}

.pokedex{
  width: 100%;
  max-width: 425px;
}

.contato a{

}

.contato img{
    margin-left: 1%;
    margin-right: 90%;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

.contato img:hover{
    border: 2px solid rgba(0, 0, 0, 0.6);
    transform: translate(-1px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.5s border 1s
}

